// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// GENERAL COLORS

$darkblue: #106a87;
$lightblue: #6abde0;

// FONT STYLES

$font-color: darken($darkblue, 5%);
$footer-color: $lightblue;

// TAB STYLES

$tab-active: rgba(255, 255, 255, 0.8);
$tab-inactive: #b8c7e5;
$tabs-background: rgba(15, 74, 162, 0.5);

$tabs-md-tab-color-active: $tab-active;
$tabs-ios-tab-color-active: $tab-active;
$tabs-wp-tab-color-active: $tab-active;

$tabs-md-tab-color-inactive: $tab-inactive;
$tabs-ios-tab-color-inactive: $tab-inactive;
$tabs-wp-tab-color-inactive: $tab-inactive;

$tabs-ios-tab-padding: 15px 0;

// FOOTER STYLES

$toolbar-background: rgba(15, 74, 162, 0.5);


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $darkblue,
  secondary:  $lightblue,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
